{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'global/icon/favicon.ico' %}" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>{{ passage.title }}</h1>
        <hr>
        <div>{{ passage_content_html|safe }}</div>
        <hr>
        <p>[ Created at <b>{{ passage.created_at|date:'Y-m-d H:i' }}</b> ][ Last updated at <b>{{ passage.last_updated_at|date:'Y-m-d H:i' }}</b> ][ written by <b>{{ passage.author.username }}</b> ] <a href="{% url 'index' %}">Back to homepage</a></p>
    </div>
</body>
</html>