{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'global/icon/favicon.ico' %}">
    <script src="{% static 'global/js/change_colormode.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'global/icon/favicon.ico' %}" type="image/x-icon">
    <title>FidoFido</title>
</head>
<body>
    {% block content %}
        <div class="main">
            <h1>FidoFido</h1>
            <form method='get' action="{% url 'search_passages' %}">
                <input type="text" class="search_text_field" name="q" placeholder="Enter keywords..." value="{{ query }}" required />
                <button type="submit">Search</button>
            </form>
            {% if is_logged %}
                <p>{{ username }}<a href="{% if user.is_superuser %}{% url 'admin:index' %}{% else %}{% url 'accounts:dashboard' %}{% endif %}"><button>Dashboard</button></a></p>
            {% else %}
                <ul>
                    <li><a href="{% url 'accounts:register' %}"><button>Register</button></a></li>
                    <li><a href="{% url 'accounts:login' %}"><button>Login</button></a></li>
                </ul>
            {% endif %}
            <h3>Recent Passages:</h3>
            <ul class="passages_view">
                {% for passage in passages %}
                    <li>
                        <a href="{% url 'detail' passage.id %}">{{ passage.title }}</a>
                        <small>[ Created at <b>{{ passage.created_at|date:'Y-m-d H:i' }}</b> ][ Last updated at <b>{{ passage.last_updated_at|date:'Y-m-d H:i' }}</b> ][ written by <a href="{% url 'accounts:user_profile' passage.author.id %}">{{ passage.author.username }}</a> ]</small>
                        <div>{{ passage.content|truncatechars:100|linebreaksbr|safe }}</div>
                    </li>
                {% empty %}
                    <li>No passages available.</li>
                {% endfor %}
            </ul>
            <small>Copyright LiaoxyuCM Powered by Django</small>
            <a class="colormode_link">
                <button class="change_colormode_button">
                    <img></img>
                </button>
            </a>
        </div>
    {% endblock %}
</body>
</html>
