{% extends 'homepage/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% block content %}
        <div class="main">
            <h2>Search Passages</h2>
            <div class="search_description">
                <input type="text" class="search_text_field" name="q" placeholder="Enter keywords..." value="{{ query }}" required>
                <button onclick="window.location.href = '/search/' + document.querySelector('input.search_text_field').value">Search</button>
            </div>
            <a href="{% url 'index' %}">Back to homepage</a>
            <hr>
            {% if query %}
                <h3>Result:</h3>
                {% if results %}
                    <ul class="passages_view">
                        {% for passage in results %}
                            <li>
                                <a href="{% url 'detail' passage.id %}">{{ passage.title }}</a>
                                <small>[ Created at <b>{{ passage.created_at|date:'Y-m-d H:i' }}</b> ][ Last updated at <b>{{ passage.last_updated_at|date:'Y-m-d H:i' }}</b> ][ written by <a href="{% url 'accounts:user_profile' passage.author.id %}">{{ passage.author.username }}</a> ]</small>
                                <div>{{ passage.content|truncatechars:200|linebreaksbr|safe }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No relevant content found.</p>
                {% endif %}
            {% endif %}
            <a class="colormode_link">
                <button class="change_colormode_button">
                    <img></img>
                </button>
            </a>
        </div>
    {% endblock %}
</body>
</html>
