{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change username</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'global/icon/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'global/js/change_colormode.js' %}"></script>
</head>
<body>
    <div class="center_temp">
        <h2>Change username</h2>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.password }}
                {% if form.password.errors %}
                    <div>
                        {% for error in form.password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form.new_username }}
                {% if form.new_username.errors %}
                    <div>
                        {% for error in form.new_username.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <ul>
                <li>Your new username must be unique</li>
            </ul>
            <button type="submit">Update</button>
        </form>

        <a href="{% url 'accounts:dashboard' %}">Back to dashboard</a>
        <a class="colormode_link">
            <button class="change_colormode_button">
                <img />
            </button>
        </a>
    </div>
</body>
</html>
