{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'global/icon/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'global/js/getgreeting.js' %}"></script>
    <script src="{% static 'global/js/change_colormode.js' %}"></script>
</head>
<body>
    <div class="main">
        <h2><span class="GetGreeting"></span>, {% if user.is_superuser %}<span style="color: red;">{{ user.username }}</span>{% else %}{{ user.username }}{% endif %}</h2>

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <h3>Useable tools</h3>

        <ul>
            <li><a href="/"><button>Homepage</button></a></li>
            <li><a href="{% url 'accounts:post' %}"><button>Post</button></a></li>
        </ul>

        <h3>Manage your account</h3>

        <ul>
            <li>
                <form action="{% url 'accounts:logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>
                <a href="{% url 'accounts:change_username' %}"><button style="width: 10em;">Change username</button></a>
            </li>
        </ul>

        {% if user.is_superuser %}
            <h2>Manage user's passage(s):</h2>
        {% else %}
            <h2>Your passage(s):</h2>
        {% endif %}
            <ul class="passages_view">
            {% for passage in passages %}
                {% if passage.author == user or user.is_superuser %}
                    <li>
                        <a href="{% url 'detail' passage.id %}">{{ passage.title }}</a>
                        <small>[ Created at <b>{{ passage.created_at|date:'Y-m-d H:i' }}</b> ][ Last updated at <b>{{ passage.last_updated_at|date:'Y-m-d H:i' }}</b> ][ written by <a href="{% url 'accounts:user_profile' passage.author.id %}">{{ passage.author.username }}</a> ]</small>
                        <a href="{% url 'accounts:edit_passage' passage.id %}"><small>Edit</small></a>
                        <a href="{% url 'accounts:delete_passage' passage.id %}"><small style="color: red;">Delete</small></a>
                        <div>{{ passage.content|truncatechars:100|linebreaksbr|safe }}</div>
                    </li>
                {% endif %}
            {% empty %}
                <li>No passages available.</li>
            {% endfor %}
        </ul>
        <a class="colormode_link">
            <button class="change_colormode_button">
                <img />
            </button>
        </a>
    </div>
</body>
</html>

