{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    <div class="main">
        <h2>Welcome back!</h2>

        <a href="/"><button>Homepage</button></a>

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>

        <p>New to FidoFido?<a href="{% url 'accounts:register' %}">Register</a></p>
    </div>
</body>
</html>
